body{
    margin: 0;
    padding: 0;
}

.header {
  padding: 5px 40px;
  border-bottom: 1px solid #222;
  background: #000;
  position: relative;
  width: 100%;
  z-index: 100;
}   

.header-content {
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 10px 50px;
}

/* Logo y nombre a la izquierda */
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-logo {
  width: 100px;
  height: 60px;
  object-fit: contain;
  border-radius: 8px;
}

.brand-name {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  background: linear-gradient(100deg, #ffffff, #0047AB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Botones a la derecha */
.header-button-group {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-button-group button {
  border: none;
  background: transparent;
}


@media (max-width: 430px) {
  .header {
    padding: 5px 16px;
    min-height: 80px;
  }

  .header-content {
    flex-direction: column;
    gap: 16px;
    padding: 4px 0;
    margin-right: 30px;
  }

  .brand {
    gap: 8px;
    padding: 2px 4px;
  }

  .brand-logo {
    width: 28px;
    height: 28px;
  }

  .brand-name {
    font-size: 18px;
  }

  .button-group {
    width: 100%;
    justify-content: center;
    gap: 12px;
    padding: 2px;
  }

  .button-group button {
    font-size: 14px;
  }
}